<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{{url_for('static', filename='css/styles.css')}}" type="text/css">
  <title>Document</title>
</head>
<body>
  <div id="main_container">
    <div id="title_cont">
      <h3 class="title">Income Prediction Form</h3>
    </div>

    <div class="container_form">
      <form action="/result" name="form" method="post" style="text-align: center">

        <div class=reg_cont_gen>
        <div class="register_cont">
        <label for="age">
          Age
        </label>
        <input value="32" class="inp_form" type="number" id="age" name="age" min="0" max="200"/>
        </div>

        <div class="register_cont">
        <label for="w_class">Working Class</label>
        <select class="sel_form" name="w_class" id="w_class">
          <option value="0">Federal-gov</option>
          <option value="1">Local-gov</option>
          <option value="2">Private</option>
          <option value="3">Self-emp-inc</option>
          <option value="4">Self-emp-not-inc</option>
          <option value="5">State-gov</option>
          <option value="6">Without-pay</option>
        </select>
        </div>

        <div class="register_cont">
        <label for="edu">Education</label>
        <select class="sel_form" name="edu" id="edu">
          <option value="0">10th</option>
          <option value="1">11th</option>
          <option value="2">12th</option>
          <option value="3">1st-4th</option>
          <option value="4">5th-6th</option>
          <option value="5">7th-8th</option>
          <option value="6">9th</option>
          <option value="7">Assoc-acdm</option>
          <option value="8">Assoc-voc</option>
          <option value="9">Bachelors</option>
          <option value="10">Doctorate</option>
          <option value="11">HS-grad</option>
          <option value="12">Masters</option>
          <option value="13">Preschool</option>
          <option value="14">Prof-school</option>
          <option value="15">Some-College</option>
        </select>
        </div>

        <div class="register_cont">
        <label for="marital_status">Marital-Status</label>
        <select class="sel_form" name="marital_status" id="marital_status">
          <option value="0">Divorced</option>
          <option value="1">Married-AF-spouse</option>
          <option value="2">Married-civ-spouse</option>
          <option value="3">Married-spouse-absent</option>
          <option value="4">Never-Married</option>
          <option value="5">Separated</option>
          <option value="6">Widowed</option>
        </select>
        </div>

        <div class="register_cont">
        <label for="occupation">Occupation</label>
        <select class="sel_form" name="occupation" id="ocuppation">
          <option value="0">Adm-clerical</option>
          <option value="1">Armed-Forces</option>
          <option value="2">Craft-repair</option>
          <option value="3">Exec-managerial</option>
          <option value="4">Farming-fishing</option>
          <option value="5">Handlers-cleaners</option>
          <option value="6">Machine-op-inspct</option>
          <option value="7">Other-service</option>
          <option value="8">Priv-house-serv</option>
          <option value="9">Prof-speciality</option>
          <option value="10">Protective-service</option>
          <option value="11">Sales</option>
          <option value="12">Tech-support</option>
          <option value="13">Transport-moving</option>
        </select>
        </div>

        <div class="register_cont">
        <label for="race">Relationship</label>
        <select class="sel_form" name="relationship" id="relationship">
          <option value="0">Husband</option>
          <option value="1">Not-in-family</option>
          <option value="2">Other-relative</option>
          <option value="3">own-child</option>
          <option value="4">unmarried</option>
          <option value="5">wife</option>
        </select>
        </div>

        <div class="register_cont">
        <label for="race">Race</label>
        <select class="sel_form" name="race" id="race">
          <option value="0">Amer Indian Eskimo</option>
          <option value="1">Asian Pac Islander</option>
          <option value="2">Black</option>
          <option value="3">Other</option>
          <option value="4">White</option>
        </select>
        </div>
        
        <div class="register_cont">
        <label for="gender">Gender</label>
        <select class="sel_form" name="gender" id="gender">
          <option value="0">Female</option>
          <option value="1">Male</option>
        </select>
        </div>

        <div class="register_cont">
        <label for="c_gain">Capital Gain</label>
        <input class="inp_form" type="number" name="c_gain" id="c_gain" min=0 max=99999 value="0"/>
        </div>

        <div class="register_cont">
        <label for="c_loss">Capital Loss</label>
        <input class="inp_form" type="number" name="c_loss" id="c_loss" min=0 max=4356 value="0"/>
        </div>
        <div class="register_cont">
        <label for="hours_per_week">Hours per Week </label>
        <input class="inp_form" type="number" id="hours_per_week" name="hours_per_week" min=0 max=60 value="48" >
        </div>

        <div class="register_cont">
        <label for="native-country">Native Country</label>
        <select class="sel_form" id="native-country" name="native-country">
          <option value="0">Cambodia</option>
          <option value="1">Canada</option>
          <option value="2">China</option>
          <option value="3">Columbia</option>
          <option value="4">Cuba</option>
          <option value="5">Dominican Republic</option>
          <option value="6">Ecuador</option>
          <option value="7">El Salvadorr</option>
          <option value="8">England</option>
          <option value="9">France</option>
          <option value="10">Germany</option>
          <option value="11">Greece</option>
          <option value="12">Guatemala</option>
          <option value="13">Haiti</option>
          <option value="14">Netherlands</option>
          <option value="15">Honduras</option>
          <option value="16">HongKong</option>
          <option value="17">Hungary</option>
          <option value="18">India</option>
          <option value="19">Iran</option>
          <option value="20">Ireland</option>
          <option value="21">Italy</option>
          <option value="22">Jamaica</option>
          <option value="23">Japan</option>
          <option value="24">Laos</option>
          <option value="25">Mexico</option>
          <option value="26">Nicaragua</option>
          <option value="27">Outlying-US(Guam-USVI-etc)</option>
          <option value="28">Peru</option>
          <option value="29">Philippines</option>
          <option value="30">Poland</option>
          <option value="11">Portugal</option>
          <option value="32">Puerto-Rico</option>
          <option value="33">Scotland</option>
          <option value="34">South</option>
          <option value="35">Taiwan</option>
          <option value="36">Thailand</option>
          <option value="37">Trinadad&Tobago</option>
          <option value="38">United States</option>
          <option value="39">Vietnam</option>
          <option value="40">Yugoslavia</option>
        </select>
        </div>

        <div class="register_cont">
        <input class="inp_submit" type="submit" value="Predict">
        </div>
        </div>
      </form>
    </div>
  </div>
</body>
</html>
